.git
.gitignore
__pycache__/
*.py[cod]
.pytest_cache/
.mypy_cache/
.tox/
.ruff_cache/
venv/
.venv/
ENV/
env/
.run/
*.log
../data_ingestion/
../ml_model/
../frontend/
../k8s/
../docker-compose.yml
.DS_Store
.idea/
.vscode/
